{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="principal">
    <title>Manage Store | Nova Infinitus</title>
  
      <section class="conta">
  
        <div class="conta__container">
          <div class="checkout__titulos">
            <p class="checkout__titulo">Main Indicators</p>
          </div>
            <p>Sales: R$ {{ sales }}</p>
            <p>Products Sold: {{ products_sold }}</p>
            <p>Total Orders: {{ total_orders }}</p>
        </div>
        
        
        <div class="conta__container">
          <div class="checkout__titulos">
            <p class="checkout__titulo">Export Reports</p>
          </div>

          <div class="conta__form">
            <a class="subtotal__botao" href="{% url 'export_report' 'orders' %}">Export Orders</a>
          </div>
          <div class="conta__form">
            <a class="subtotal__botao" href="{% url 'export_report' 'client' %}">Export Clients</a>
          </div>
          <div class="conta__form">
            <a class="subtotal__botao" href="{% url 'export_report' 'address' %}">Export Addresses</a>
          </div>
        </div>
      </section>
  </main>


{% endblock %}
