{% load static %}

<footer class="rodape">
    <section class="rodape__secao-formulario">
      <div class="rodape__app-newsletter">
        <div class="rodape__container-newsletter">
          <div class="rodape__newsletter">
            <p class="rodape__texto-newsletter">Subscribe to out newsletter</p>
            <p class="rodape__texto">
              Subscribe to receive exclusive promotions and firsthand news!
            </p>
          </div>

          <form class="formulario" action="">
            <input
              class="formulario__input"
              type="email"
              name="email"
              placeholder="Digite seu e-mail"
            />
            <input
              class="formulario__input"
              type="text"
              name="name"
              placeholder="Digite seu nome"
            />
            <button class="formulario__botao" type="submit">Sign in</button>
          </form>
        </div>

        <div class="rodape__container-app">
          <div class="rodape__app">
            <p class="rodape__texto-newsletter">Download the app</p>
          </div>

          <div class="rodape__app">
            <a
              href="#"
              ><img
                class="rodape__imagens-loja"
                src="{% static 'images/google_play.svg' %}"
                alt="Imagem Play Store"
            /></a>
            <a href="#"
              ><img
                class="rodape__imagens-loja"
                src="{% static 'images/apple.svg' %}"
                alt="Imagem App Store"
            /></a>
          </div>
        </div>
      </div>
    </section>

    <section class="rodape__secao-informacoes">
      <div class="rodape__container">
        <div class="rodape__informacoes">
          <div class="rodape__informacao">
            <p class="rodape__titulo">About Us</p>

            <ul class="rodape__links">
              <li><a href="#">Who am I</a></li>
              <li>
                <a href="#">Personal Projects</a>
              </li>
            </ul>
          </div>

          <div class="rodape__informacao">
            <p class="rodape__titulo">My Account</p>

            <ul class="rodape__links">
              <li>
                <a href="{% url 'your_account' %}"
                  >My Account</a
                >
              </li>
              <li>
                <a href="{% url 'my_orders' %}"
                  >My Orders</a
                >
              </li>
            </ul>
          </div>

          <div class="rodape__informacao">
            <p class="rodape__titulo">Support</p>

            <ul class="rodape__links">
              <li>
                <a href="#"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a href="#"
                  >Terms of Use</a
                >
              </li>
              <li>
                <a href="#"
                  >Frequently Asked Questions</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="rodape__atendimento">
          <p class="rodape__titulo" id="social__media">Social Media</p>

          <div class="rodape__redes">
            <a href="https://www.instagram.com/dante__honorato2/" class="rodape__rede">
              <img
                src="{% static 'images/instagram.svg' %}"
                alt="Logo Instagram"
              />
            </a>
            <a href="https://github.com/Dante-Navaza2005" class="rodape__rede">
              <img
                src="{% static 'images/github.svg' %}"
                alt="Logo Github"
              />
            </a>
            <a
              href="www.linkedin.com/in/dante-navaza"
              class="rodape__rede"
            >
              <img
                src="{% static 'images/linkedin.svg' %}"
                alt="Logo LinkedIn"
              />
            </a>
          </div>
        </div>
      </div>

    
    </section>

    <section class="rodape__secao-empresa">
      <p>
        NOVA INFINITUS | Dante Honorato Navaza | dantenavaza2005@gmail.com | DON'T PEFORM ANY PURCHASES, THIS IS A PERSONAL PROJECT -
        Icons by <a class="icon8" href="https://icons8.com">Icons8</a>
      </p>
    </section>
  </footer>