{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="principal">
  <title>Create Account | Nova Infinitus</title>

    <section class="conta">

      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Fill in your information to create a account</p>
        </div>

        {% if error == "fill" %}
        <p class="checkout_erro">Please complete all fields correctly to create an account.</p>
        {% endif %}

        {% if error == "invalid_email" %}
        <p class="checkout_erro">Invalid email address. Please enter a valid email and try again.</p>
        {% endif %}

        {% if error == "user_exists" %}
        <p class="checkout_erro">Email already in use. <a href="{% url 'perform_login' %}">Perform login</a></p>
        {% endif %}

        {% if error == "different_password" %}
        <p class="checkout_erro">Passwords do not match. Please ensure both fields are identical.</p>
        {% endif %}

        {% if error == "weak_password" %}
        <p class="checkout_erro">Invalid password. Ensure it meets the criteria</p>
        {% endif %}

        <form
          class="conta__form"
          action="{% url 'create_account' %}"
          method="post"
        >
        {% csrf_token %}
          
        <div class="conta__item conta__item--email">
          <label for="email">E-mail</label>
          <input name="email" type="email" placeholder="Email"/>
        </div>
        <div class="conta__item">
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="password"/>
        </div>
        <div class="conta__item">
            <label for="confirm_password">Confirm Password</label>
            <input name="confirm_password" type="password" placeholder="Password"/>
        </div>
        <p class="senha_aviso">Password must be 8 to 20 characters with at least one upper and lower case letter, number, and special. </p>

          <button class="subtotal__botao" type="submit">
            Create Account
          </button>
        </form>
        <a class="esquecer_senha" href="{% url 'perform_login' %}">Already have a account? Log in</a>
      </div>
    </section>
</main>

{% endblock %}
